*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --dark-blue: #2B4074;
    --beige: #F9F6E5;
    --white: #ffffff;
    --dark-gray: #4A4A4A;
    --gray: #797979;

    --main-font: 'Roboto', sans-serif;
    --title-font: 'Roboto Condensed', sans-serif;
}

header {
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    padding: 0 150px;
}

.btn-menu {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#general {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/bg-img.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 670px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.general-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}

#general h1 {
    width: 514px;
    margin: 0;

    font-family: var(--title-font);
    font-weight: 400;
    font-size: 96px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hr-main {
    display: none;
}

#general p {
    width: 800px;

    font-family: var(--title-font);
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
}

.content-arrows {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}

.btn-forward {
    width: 70px;
    height: 70px;
    background: var(--dark-blue);
    border: none;
    cursor: pointer;
}

.btn-back {
    width: 70px;
    height: 70px;
    background: var(--beige);
    border: none;
    cursor: pointer;
}

.btn-read-more {
    width: 200px;
    height: 50px;

    background: var(--dark-blue);
    border-radius: 3px;
    border: none;

    font-family: var(--main-font);
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--beige);

    display: flex;
    align-items: center;
    justify-content: center;
}

#promo {
    width: 100%;
    height: 192px;
    background: var(--dark-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.promo-text {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.promo-text h5 {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 24px;
    color: var(--white);
}

.promo-text p {
    max-width: 440px;
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: var(--white);
}

#promo .btn-call-me {
    width: 200px;
    height: 50px;
    background: var(--beige);
    border-radius: 3px;
    border: none;

    font-family: var(--main-font);
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: var(--dark-blue);

    display: flex;
    align-items: center;
    justify-content: center;
}

#service {
    width: 100%;
    height: 550px;
    background: var(--white);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.service__text {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.service__details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2em;
    padding-bottom: 3em;
}

.service__text h3 {
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 48px;
    color: var(--dark-blue);
}

.service__text h4 {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 24px;
    color: var(--dark-gray);
}

.service__text p {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 18px;
    color: var(--gray);
}

.hr-blue {
    border: 4px solid var(--dark-blue);
    width: 24%;
    margin: 0;
}

.service__elements {
    width: 920px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4px;
}

.elements__btn {
    cursor: pointer;
    text-decoration: none;
    border: 4px solid transparent;
    transition: border 0.3s ease;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.elements__btn:hover {
    border-color: var(--dark-blue);
}

.elements__btn__hover-text {
    display: none;
}

.elements__btn:hover .elements__btn__hover-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
}

.elements__btn__title {
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    color: var(--dark-gray);
}

.elements__btn__hover-text p {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: var(--gray);
}

.elements__btn__hover-text h6 {
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--dark-blue);
}

#our-projects {
    width: 100%;
    height: auto;
    background: linear-gradient(180deg, #2B4074 0%, rgba(43, 64, 116, 0) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
    padding: 4em;
}

.our-projects__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 2em;
    text-transform: capitalize;
}

.our-projects__title h3 {
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 48px;
    text-align: center;
    color: var(--white);
}

.hr-white {
    border: 4px solid var(--white);
    width: 30%;
    margin: 0;
}

.our-projects__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
}

.projects__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    transition: .5s ease;
    backface-visibility: hidden;
    flex: 1 1 calc(25% - 1.5rem);
    min-width: 318px;
}

.projects__item__img {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects__item__img img {
    border-radius: 2%;
    width: 100%;
    height: auto;
    display: block;
}

.projects__item__hover-pics {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7em;
    background: var(--beige);
    border-radius: 0.3em;
}

.projects__item:hover .projects__item__hover-pics {
    opacity: 0.8;
}

.projects__item h6 {
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2px;
    text-align: center;
    vertical-align: bottom;
    color: var(--dark-blue);
}

#team {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2em;
    padding: 2em 0 5em 0;
}

#team img {
    border-radius: 2%;
    width: clamp(240px, 35%, 460px);
    height: auto;
    object-fit: cover;
    flex: 0 1 auto;
}

.team__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 3em;
    width: auto;
}

h3 {
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 48px;
    color: var(--dark-gray);
    text-transform: capitalize;
}

#team p {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    width: 29em; /* todo до 24em на планшеті*/
    color: var(--gray);
}

#latest-news {
    width: 100%;
    height: 1044px;
    background: var(--beige);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.latest-news__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.latest-news__news {
    column-count: 4;
    column-gap: 2em;
}

.news__item {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.news__item:hover {
    outline: 10px solid var(--dark-blue);
    outline-offset: -8px;
}

.news__item:hover img {
    border-radius: 0;
}

.news__item:hover .news__item__title {
    background: var(--dark-blue);
    margin-bottom: 20px;
}

.news__item:hover .news__item__title h6 {
    color: var(--white);
}

.news__item:hover .news__item__hover-pics {
    opacity: 1;
}

.news__item__hover-pics {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.news__item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 1%;
}

.news__item__title {
    position: absolute;
    background: var(--white);
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 1%;
}

.news__item__title h6 {
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2px;
    vertical-align: bottom;
    color: var(--dark-gray);
}

#quote {
    width: 100%;
    height: 534px;
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.quote {
    width: 48em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.quote__text {
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: var(--dark-gray);
}

.quote__text strong {
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0;
    text-align: center;
    vertical-align: bottom;
    color: var(--dark-blue);
}

.quote__author {
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 2px;
    text-align: center;
    vertical-align: bottom;
    color: var(--dark-gray);
}

footer {
    width: 100%;
    height: 680px;
    background: var(--dark-blue);
    position: relative;
    padding-top: 40px;
}

.footer__container {
    width: 85%;
    height: 98%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: space-evenly;
}

footer::before {
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 230px;
    height: 60px;
    background: url('../images/Group 2 1.svg') no-repeat center / auto 55px, var(--dark-blue);
}

.footer__contact_us {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 2px;
    text-align: left;
    color: var(--white);
    width: 25em;
}

.table__media {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.table__media tr {
    height: 3em;
}

.table__media td {
    border: 1px solid #7EBF84;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.table__media td:first-child {
    border-left: 1px solid transparent;
}

.table__media td:last-child {
    border-right: 1px solid transparent;
}

.contacts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contacts__item {
    width: 22%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.contacts__item h6 {
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2px;
    vertical-align: bottom;
    color: var(--white);
    text-transform: uppercase;
}

.contacts__item p,
.contacts__item a {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0;
    vertical-align: bottom;
    color: var(--white);
    text-decoration: none;
}

.copyright {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background: var(--beige);
    padding: 1em 5em;
}

.copyright a {
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2px;
    vertical-align: bottom;
    color: var(--gray);
    text-decoration: none;
    text-transform: uppercase;
}

